<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Airspy Web</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <script src="/static/script.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="container">
    <h1 id="title">- AIRSPY -</h1>
    <p id="dyurn">by dyurn</p>
    <hr class="green-bar">
       
      <div class="control-group">
        <label for="ifaceSelect">Select network interface:</label>
        <br>
        <select id="ifaceSelect">
          <option disabled selected>Loading...</option>
        </select>
        <button onclick="scanWifi()">Start Scan</button>
      </div>

    <div id="progressBarContainer">
  <div id="progressBar"></div>
</div>

    <div id="results"></div>
    <canvas id="wifiChart" height="300"></canvas>

  </div>
</body>
</html>
